@import '../../base/variable.scss';

@mixin border {
  border: 1px solid #dfe6ec;
}

@mixin cell {
  height: 40px;
  min-width: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 24px;
    padding-left: 18px;
    padding-right: 18px;
    vertical-align: middle;
  }
}

.x-table {
  width: 100%;
  box-sizing: border-box;
  table {
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    table-layout: fixed;
    @include border;
  }
  th {
    font-weight: bold;
    background-color: #F5F6F7;
    @include cell;
    @include border;
  }
  td {
    @include cell;
    @include border;
  }
  thead tr {
    background-color: $theme;
    height: 60px;
  }
  tbody tr {
    transition: background-color .25s ease;
    &.even {
      background-color: $theme-light;
    }
    &:hover {
      background-color: $theme !important;
    }
  }
}

.none-data {
  padding: 100px;
  background-color: #fff;
  img {
    height: 200px;
    margin: auto;
    display: block;
  }
}